body{
    color: gray;
    background-color: black;
    font-family: 'Sudo';  
}
foot{margin: 2em; text-align: center; font-size: 18.5px;}
h1{
    color: chartreuse;
    font-family: 'Cinzel', serif; 
    font-size: 2vw;
    text-align: center;
}

h2, h3, h4, h5{
    color: chartreuse;
    font-size: 2vw;
}
.row {display: flex;}
.col {flex: 1;}
.container{
    margin-top: 5vw;
}

/* To make sure links always stay green */
a:visited, a:link{
    color: gray;
}
a:hover{
    color: chartreuse;
}

/* Mobile nav bar */
@media screen and (min-width: 768px){
    #nav2{
        display: none;
    }

    
}
/* Main Nav Bar*/
@media screen and (max-width: 769px){
    #nav1{
        display: none;
    }
    body{
        margin-top: 20vw;
    }
    body > h2,h3,h4,h5{
        color: chartreuse;
        font-size: 24px;
    }
}

/* CSS for Progressive Bar */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
    }
.header h2{
text-align: center;
}
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    }
.progress-bar {
    height: 8px;
    background: chartreuse;
    width: 0%;
    }
